/* Fundo da página */
.dashboard {
    position: relative;
    background: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* Garante que o fundo ocupe toda a altura da página */
  }
  
  /* Imagem de fundo */
  .dashboard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/public/assets/background.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Transparência da imagem */
    z-index: -1; /* Faz com que a imagem fique atrás do conteúdo */
  }
  
  /* Barra de busca */
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-bar button:disabled {
    background-color: #6c757d;
  }
  
  /* Estilo para informações do jogador */
  .player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .player-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .player-details h2,
  .player-details h3,
  .player-details p {
    margin: 5px 0;
  }
  